.main-footer {
  padding: 20px;
  color: $text-color-brand;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.main-footer__social-link {
  width: 100%;
  max-width: 25px;
}

.main-footer__autor-image {
  width: 100%;
  max-width: 50px;
}
