.main-header {
  padding: 20px;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__logo-image {
    width: 100%;
    max-width: 140px;
    margin-right: 30px;
  }

  &__logo-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo-name {
    font-size: 60px;
    color: $text-color-brand;
    margin-bottom: 20px;
  }

  &__logo-line {
    height: 3px;
    width: 300px;
    background: $background-color-brand;
    margin-bottom: 10px;
  }

  &__logo-desc {
    font-size: 28px;
    color: $text-color-brand;
    font-weight: 400;
  }

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__list-item {
    font-size: 28px;
    text-decoration: none;
    color: $text-color-brand;
    cursor: pointer;

    &.active {
      color: $text-color-secondary;
    }
  }

  &__list-item:hover {
    color: $text-color-secondary;
    transition: all 1s ease;
  }
}

@media (max-width: 650px) {
  .main-header__logo-image {
    max-width: 100px;
  }

  .main-header__logo-name {
    font-size: 33px;
  }

  .main-header__logo-line {
    width: 200px;
  }

  .main-header__logo-desc {
    font-size: 15px;
  }
}
