.menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.menu-card {
  margin: 20px;
  width: calc(33.3333% - 40px);
  height: 300px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__wrapper {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: rgba($color: $background-color-brand, $alpha: 0.5);
    width: 100%;
  }

  &__title {
    font-size: 24px;
    color: $text-color-secondary;
    margin-bottom: 15px;
  }

  &__weight {
    font-size: 20px;
    color: $text-color-secondary;
    margin-bottom: 10px;
  }

  &__price {
    font-family: "Corben Bold";
    font-size: 24px;
    color: $text-color-primary;
    background-color: white;
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 900px) {
  .menu-card {
    width: calc(50% - 40px);
  }
}

@media (max-width: 600px) {
  .menu-card {
    width: calc(100% - 40px);
  }
}
