@import "fonts.scss";
@import "variables.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";

* {
  box-sizing: border-box;
}

body {
  font-family:  "Corben Regular";
  background-color: $background-color-primary;
}

.container {
  width: 100%;
  max-width: 1400px;
  min-width: 400px;
  margin: 0 auto;
}
